/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: 'Arial', sans-serif;
}

.clock {
    background-color: #000;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time {
    color: #00ff00;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: bold;
}
.name {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00ff00;
    font-size: 40px;
    border-radius: 10px;
    font-style: italic;
}
      